.comment{
	margin:20px 0 0 20px;
	border:solid 1px #000;
	width:95%;
}
.comment1{
	padding:15px 0 0 15px;
}
.comment1 strong{
	color:#385bc3;
	font-size:16px;
}
.comment1 p{
	padding:5px 20px 0 0;
}
.comment2{
	margin:10px 0 15px 30px;
	border:1px dotted #000;
	width:93%;
}
.comment2 strong{
	color:#385bc3;
	font-size:15px;
	padding:0 0 0 5px;
}
.comment2 p{
	padding:5px 5px 5px 5px;
}